body {
	background-color:#292818;
	background-image:url("http://picsfab.com/download/image/81936/2048x1536_ass-legs-hips-nude-tite-oily.jpg");
}

p {
	color:black;
	font-family:verdana;
	text-align:center;
	vertical-align:middle;
	font-size:18px;
}