body {
	text-align:center;
	vertical-align:middle;
	background-color:#292818;
	background-image:url("http://picsfab.com/download/image/81936/2048x1536_ass-legs-hips-nude-tite-oily.jpg");
}

p {
	color:white;
	font-family:cursive, sans-serif;
	font-size:36px;
	outline-color:black;
	outline-width:3px;
	margin-top:260px;
}